.navbar-brand img {
  max-height: 150%;
}

.navbar {
  padding-right: 20px;
  padding-left: 20px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

input, select {
  background: none;
  text-decoration: none;
}

body {
  background: url('public/img/background.png');
}

h1 {
  text-align: center;
}

#recette {
  display: flex;
}

.caracteristique {
  margin-left: 5%;
  margin-top: 5%;
  width: 40%;
}

.fin {
  text-align: center;
}
